@model IEnumerable<app_Comparador_de_procesadores.Models.Benchmark>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mb-4">Resultados de Benchmarks</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Prueba</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre_procesador)</td>
                    <td>@Html.DisplayFor(modelItem => item.prueba)</td>
                    <td>@Html.DisplayFor(modelItem => item.puntaje)</td>
                </tr>
            }
        </tbody>
    </table>
</div>